#nav-header[data-v-6e1afce0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(200,200,200,0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  overflow: hidden;
  z-index: 4;
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}
#nav-header #nav-title[data-v-6e1afce0] {
  position: relative;
  display: inline-block;
  font-size: 24px;
  padding: 10px 20px;
}
#nav-header #nav-title i[data-v-6e1afce0] {
  position: absolute;
  font-size: 14px;
  color: #fff;
}
#nav-header #nav-container[data-v-6e1afce0] {
  list-style: none;
  padding: 0;
  margin: 0;
}
#nav-header #nav-container .nav-item[data-v-6e1afce0] {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#nav-header #nav-container .nav-item[data-v-6e1afce0]:hover {
  border-bottom: 1px solid var(--color-active-green);
  color: var(--color-active-green);
}
#nav-header #nav-container .nav-item a[data-v-6e1afce0] {
  text-decoration: none;
  color: inherit;
}
#nav-header .mobile-nav-trigger[data-v-6e1afce0] {
  cursor: pointer;
}
#nav-header #mobile-nav-container[data-v-6e1afce0] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 10px;
  padding: 0;
}
#nav-header #mobile-nav-container .mobile-nav-item[data-v-6e1afce0] {
  list-style: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#nav-header #mobile-nav-container .mobile-nav-item[data-v-6e1afce0]:hover {
  color: var(--color-active-green);
}
#nav-header #mobile-nav-container .mobile-nav-item a[data-v-6e1afce0] {
  text-decoration: none;
  color: inherit;
}
/**动画 */
.mobile-nav-ani-enter[data-v-6e1afce0] {
  opacity: 0;
}
.mobile-nav-ani-enter-active[data-v-6e1afce0] {
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

#image-max-container[data-v-b87b31ea] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  z-index: 3;
}
#image-max-title[data-v-b87b31ea] {
  position: relative;
  color: #fff;
  font-weight: normal;
  font-size: 34px;
  padding: 10px 20px;
  background-color: rgba(230,230,230,0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(230,230,230,0.3);
          box-shadow: 0 0 10px rgba(230,230,230,0.3);
  border: 1px solid rgba(230,230,230,0.5);
  -webkit-transform: translateY(-50vh);
          transform: translateY(-50vh);
  -webkit-transition: all 0.8s cubic-bezier(1, 0.14, 0.71, 1.35);
  transition: all 0.8s cubic-bezier(1, 0.14, 0.71, 1.35);
  z-index: 1;
}
#image-max-title[data-v-b87b31ea]:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  margin: -10px;
}
#image-max-title.done[data-v-b87b31ea] {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#self-container[data-v-12805bb2] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: var(--color-deepGreen);
}
#self-container #self-title[data-v-12805bb2] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}
#self-container #self-title[data-v-12805bb2]:after {
  content: '˅';
  display: block;
  font-size: 40px;
  padding-top: 10px;
}
#self-container .self-item[data-v-12805bb2] {
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 30%;
  max-width: 33%;
  list-style: none;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  color: #fff;
}
#self-container .self-item .title[data-v-12805bb2] {
  font-weight: bolder;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
}
#self-container .self-item .record[data-v-12805bb2] {
  color: #fff;
  padding: 10px 5px;
  text-align: right;
}
#self-container .self-item .record strong[data-v-12805bb2] {
  float: left;
  text-align: left;
  font-weight: normal;
  padding-right: 10px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#self-container .self-item .record strong a[data-v-12805bb2] {
  color: var(--color-active-green);
  font-weight: bolder;
  text-decoration: none;
}
#self-container .self-item .record strong a[data-v-12805bb2]:hover {
  color: inherit;
}
#self-container .self-item.mobile[data-v-12805bb2] {
  min-width: 80%;
  max-width: 100%;
  font-size: 14px;
}
@media (max-width: 440px) {
#self-container .self-item.mobile[data-v-12805bb2] {
    min-width: 100%;
}
}
#self-container.mobile[data-v-12805bb2] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --color-active-green: #28a745;
  --color-background-gray: #e6e6e6;
  --color-deepGreen: #131418;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #646464;
}
::-webkit-scrollbar {
  width: 3px;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "plantc", "Source Han Serif", serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-gray);
  overflow-x: hidden;
}

